.App {
  font-family: sans-serif;
  text-align: center;
}

@media (width < 1024px) {
  .Calculator {
    position: absolute;
    top: 25%;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
  }
}

@media (width >= 1024px) {
  .Calculator {
    position: absolute;
    top: 10%;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
  }
}

.greeting {
  text-align: center;
}

.calculator-border {
  width: 18em;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
}

.calculator-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calculator-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

.calculator-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-row {
  display: flex;
  flex-direction: row;
}

.button-row {
  align-items: center;
  justify-content: center;
}

.calculator-button {
  border: 1px solid black;
  padding: 20px;
  margin: 0.2rem;
  font-size: 1.3rem;
}

.calculator-button:active {
  background-color: rgb(1, 1, 1, 0.5);
}

.calculator-result-container {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
  width: 100%;
}
.calculator-result {
  background-color: green;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: right;
}

.calculator-result p {
  font-size: 2rem;
  margin: 0;
}
